<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bai4</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="/hinh/logo.png"/>
    <style>
        input.ng-invalid{background-image:url('fire2.png'); background-position: right; background-repeat:no-repeat ;}
    </style>
</head>
<body ng-app="myApp">
    <div class="container" ng-controller="Ctrl">
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <div class="card">
                    <div class="card-header">
                          Thông tin sinh viên
                    </div>
                    <div class="card-body">
                        <form name="form">
                            <div class="form-group">
                                <label >Họ và tên:</label>
                                <input class="form-control" ng-model="name" required type="text" name="txtname">
                                <label ng-show="form.txtname.$invalid" style="color: red;">Không được để trống</label>
                            </div>
                            <div class="form-group">
                                <label >Điểm:</label>
                                <input class="form-control" ng-model="mark" required type="number" min="0" max="10" name="txtmark">
                                <label ng-show="form.txtmark.$invalid" style="color: red;">Không được để trống(điểm từ 0-10)</label>
                            </div>
                            <div class="form-group">
                                <label >Email:</label>
                                <input class="form-control" ng-model="email" required type="email" name="txtemail">
                                <label ng-show="form.txtemail.$invalid" style="color: red;">Email sai định dạng</label>
                            </div>
                            <div class="form-group">
                                <label >Số xe</label>
                                <input class="form-control" ng-model="soxe" pattern="9\d-[A-Z]\d-((\d{4})|(\d{3}\.\d{2}))" required type="text"  name="txtsoxe">
                                <label ng-show="form.txtsoxe.$invalid" style="color: red;">SỐ xe sai định dạng</label>
                            </div>
                            <br>
                            <button type="button" class="btn btn-danger">Lưu</button>
                            <label ng-show="form.$valid" style="color: red;"> chức mừng bạn đã nhập đúng</label>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = angular.module("myApp",[]);
        app.controller("Ctrl",function($scope){

        });
    </script>
</body>
</html>